{% extends 'main/basic.html' %}
{%load static%}


{%block title%} <title>генератор паролів</title>
{%endblock%}

{%block content%}
  <div id="central ">
    <div class="content">
      <div class="leftside">

        <div class="line"></div>
          {%if messages%}
              {%for message in messages%}
               <div class="line"></div>
                    <h4> {{message}} </h4>
          <p>Кількість паролів від 1 до 10</p>
          <p>Кількість символів від 8 до 50</p>
              <div class="line"></div>
          {%endfor%}
          {%endif%}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {%for f in form%}
                {{f.label}}
                {{f}}<br>
            <small>{{f.help_text}}</small><br>
            {%endfor%}
            <input class=" " type="submit" value="Згенерувати пароль"/>
        </form>

        <div class="line"></div>

          {%if passwords%}
          <h3>Ваші паролі</h3>
          {%for password in passwords%}
              <li>{{password}}</li>
          {%endfor%}
          {%endif%}

<div class="line"></div>

      </div>
    </div>
  </div>
{%endblock%}